<h1>
    <a href="/Portfolio/Home">Home</a>|
    <a href="/Portfolio/Profile">Profile</a>|
    <a href="/Portfolio/Educaion">Educaion</a>|
    <a href="/Portfolio/projects">Projects</a>|
    <a href="/Portfolio/references">References</a>
</h1>
<h2>Name: @ViewBag.name</h2>
<h2>Email: @ViewBag.email</h2>
<h2>Bio: @ViewBag.bio</h2>

